/* место для вашего кода */

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 0;
}

.container {
  max-width: 1100px;
  max-height: 757px;
  margin-inline: auto;
  padding-inline: 24px;
}

.address {
  font-style: normal;
  display: inline-block;
}

.header.container {
  height: 293px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
}

.header__menu {
  justify-self: start;
  align-self: center;
  margin-bottom: 10px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.header__links-list-item {
  display: flex;
  align-items: center;
}

.header__links-list-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 13px;
  margin-right: 13px;
}

.header__link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #000;
}

.header__address a {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
}

.cover__title {
  position: relative;
  z-index: 1;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  line-height: 1.15;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 20px;
  margin-left: 31px;
}

.aligned-text_right {
  position: absolute;
  letter-spacing: 0.3em;
  left: 613px;
  top: 270px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  position: absolute;
  z-index: 1;
  inset: 656px 50px 50px 50px;
  height: 51px;
  width: 1000px;
}

.cover__description-text {
  text-transform: uppercase;
  width: 637px;
  font-size: 22px;
  word-spacing: 18.6px;
  line-height: 28px;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.description_center {
  word-spacing: 18.5px;
}

.bet-button {
  appearance: none;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.bet-button:hover {
  opacity: 0.85;
}

.lots {
  margin-top: 180px;
  margin-right: 24px;
  margin-left: 24px;
  padding: 0;
  height: 723px;
  width: 1052px;
}

.lots__heading {
  padding: 0;
  position: relative;
  top: 5px;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-right: 891px;
  margin-bottom: 27px;
  text-align: left;
  width: 121px;
  height: 47px;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.lots__card-list {
  margin-top: 0;
  height: 596px;
  width: 1052px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
}

.lots__card-list-item {
  flex: 1 1 334px;
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  width: 334px;
  height: 596px;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  width: 334px;
  height: 596px;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  width: 334px;
  height: 596px;
}

.card__title {
  margin: 0;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  width: 254px;
}

.card__text {
  position: relative;
  padding: 0;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
}

.card__text:nth-child(3) {
  position: relative;
  bottom: 1px;
  top: 15px;
}

.lots__card-list-item:nth-child(1) .card__text {
  position: relative;
  top: 20px;
}

.lots__card-list-item:nth-child(3) .card__text {
  position: relative;
  top: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 33px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 1;
  letter-spacing: 0;
  text-transform: lowercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  position: relative;
  margin: 120px 24px 0 24px;
  padding: 0;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 334px minmax(0, 1fr);
  align-items: start;
  gap: 25px;
}

.about__column:first-child {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  padding: 0;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

.about__logo-image {
  width: 148px;
  height: auto;
  display: block;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
  margin: 140.5px 25px 0px 0px;
  max-width: 291px;
  padding-bottom: 102px;
}

.about__text {
  max-width: 690px;
  text-wrap: pretty;
  overflow-wrap: break-word;
  word-break: normal;
  padding: 0;
}

.about__text p {
  margin: 0 0 24px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 20px;
  margin-top: 180px;
  padding: 0px 50px 0px;
  margin-bottom: 100px;
}

.footer .address {
  position: relative;
  top: 1px;
  left: 1px;
  justify-self: start;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
  text-decoration: none;
}

.footer .address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu {
  justify-self: center;
  width: 163.9px;
  height: 64px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item + .footer__menu-list-item {
  padding: 0;
}

.footer__menu-link {
  position: relative;
  top: 4px;
  font-family: "Raleway", sans-serif;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item:nth-child(2) {
  position: relative;
  top: 1px;
}

.footer__menu-list-item:nth-child(3) {
  position: relative;
  top: 3px;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
  position: relative;
  top: 1px;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}